@page "/"

<PageTitle>Auction Nation</PageTitle>

<header>
	<img src="auction.png" alt="Auction Nation Logo" class="logo">
	<h1>Auction Nation</h1>
</header>

<h3 style="text-align: center; margin-top: 20px;">Welcome to our website!</h3>
